body {
  font-family: 'Fira Code', monospace;
  background-image: url("srs/bg.jpeg");
  background-size: 100% 100%;
  color: #f8ecd2; 
  min-height: 100vh;
}

.container {
  max-width: 90%;
  min-width: 300px;
  min-height: 150px;
  margin: 0px auto;
  position: relative;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}

.dropdown {
  max-width: 90%;
  min-width: 300px;
  margin: 20px auto;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  position: relative;
}

.input-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

h1 {
  text-align: center;
  font-size: 36px;
  transition: all 0.3s ease;
  user-select: none;
}
.wave {
  display: inline-block;
  position: relative;
  animation: wave 1.5s infinite linear;
}

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}
h4 {
  margin: 0;
  flex: 1;
  font-size: 16px;
  margin-left: 10px;
  user-select: none;
}

#taskInput {
  width: 70%;
  padding: 10px;
  font-size: 15px;
  background-color: #444;
  color: #fff;
  border: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  flex: 1;
  font-family: 'Fira Code', monospace;
}

.input-buttons button {
  background-color: #f47026;
  color: rgb(0, 0, 0);
  font-family: 'Fira Code', monospace;
  border: none;
  cursor: pointer;
  border: none;
  outline: none; 
  padding: 10px;
  font-size: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 100px;
  transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
  transition: transform 0.2s ease;
}

h1.title {
  white-space: nowrap;
}

button:hover {
  background-color: #f8ecd2;
  box-shadow: #fff8 0 0 10px;
  cursor: pointer;
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  padding: 0;
  max-height: 295px;
  overflow-y: auto;
  
}

li {
  padding: 10px;
  border-bottom: 1px solid #444;
  display: flex;
  align-items: center;
  user-select: none;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}


.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ff6c00;
  margin-right: 10px;
}

.checked .circle {
  background-color: #ff6c00;
}

.checked span {
  text-decoration: line-through;
  color: #888;
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #292929;
  margin-right: 10px;
  position: relative;
}

.checked .circle::after {
  content: '\2713';
  display: inline-block;
  font-size: 12px;
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 4s;
}

.edit-icon{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 60px;
}
.delicon{
  width: 23px;
  height: 23px;
  position: absolute;
  right: 30px;
}

.undo-icon{
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
.deleted-task img {
  display: inline-block;
  vertical-align: middle;
  justify-content: space-around;
}

.history-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #292929;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

#deletedTasksList {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  overflow-y: auto;
}

#deletedTasksList.hidden {
  display: none;
  max-height: 0;
  transition: max-height 0.3s ease;
}

#deletedTasksList.show {
  display: block ;
  max-height: 299px;
}

.up-icon,
.history-icon {
  width: 25px;
  height: 25px;
  flex: 0 0 auto;
}

.up-icon {
  transform: scaleY(-1);
  transition: transform 0.3s ease !important;
}

/*
.up-icon.rotate1 {
  transform: scaleY(1) rotate(180deg) !important;
  transition: transform 0.3s ease!important;
}
*/
.up-icon.rotate2 {
  transform: scaleY(-1) rotate(180deg) !important;
  transition: transform 0.3s ease !important;
}

.deleted-task {
  padding: 10px;
  border-bottom: 1px solid #444;
  display: flex;
  align-items: center;

}

.deleted-task span {
  flex: 1;
}

.timestamp {
  font-size: 13px;
  color: #888;
}
.deltxt {
  font-size: 15px;
}
.task-text {
  font-size: 15px;
}

#deletedTasksList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.deleted-task:last-child {
  border-bottom: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@media screen and (max-width: 768px) {
.container.dropdown{
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  #taskInput {
    width: 60%;
  }

  .undo-icon{
    width: 15px;
    height: 15px;
  }
 
}


@media screen and (max-width: 480px) {
  .container.dropdown {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  #taskInput {
    width: 50%;
  }

  .undo-icon{
    width: 15px;
    height: 15px;
  }
}
